.cell {
  text-align: center;
  width: 24px;
  height: 24px;
  background-image: url(./assets/closed.svg);
  background-size: cover;

  &:not(.opened):active {
    background-image: url(./assets/type0.svg);
  }

  $types: closed, flag, mine_red, mine, type0, type1, type2, type3, type4, type5, type6, type7, type8;

  @each $type in $types {
    &.#{$type} {
      background-image: url(./assets/#{$type}.svg);
    }
  }
}

.hor {
  background-image: url(./assets/border_hor_2x.png);
  background-size: 100% 100%;
  border-collapse: separate;
  height: 16.5px;
}

.vert {
  background-image: url(./assets/border_vert_2x.png);
  background-size: 100% 100%;
  border-collapse: separate;
  width: 18px;
}

@mixin block {
  width: 18px;
  height: 16.5px;
  background-size: 100% 100%;
}

$directions: bottom_left, bottom_right, up_left, up_right;
@each $direction in $directions {
  .#{$direction} {
    @include block;
    background-image: url(./assets/corner_#{$direction}_2x.png);
  }
}

$sides: t_left, t_right;
@each $side in $sides {
  .#{$side} {
    @include block;
    background-image: url(./assets/#{$side}_2x.png);
  }
}

.silver {
  background-color: silver;
}

.nums {
  background-image: url(./assets/nums_background.svg);
  background-size: 100% 100%;
  width:61px;
  height: 37.5px;
}

.face {
  width: 31.5px;
  height: 31.5px;
  background-size: 100% 100%;

  $faces: unpressed, lose, win;

  @each $face in $faces {
    &.#{$face} {
      background-image: url(./assets/face_#{$face}.svg);
    }
  }
}

.num {
  width: 16.5px;
  height: 31.5px;
  background-size: 100% 100%;
}

@for $i from 0 through 9 {
  .d#{$i} {
    background-image: url(./assets/d#{$i}.svg);
  }
}

.width {
  width: calc(100% - 36px);
}

.height {
  height: calc(100% - 36px);
}

.buttons {
  display: inline-flex;
  border: 1px solid #3b82f6;
  border-radius: 8px;
}

.button {
  padding: 4px 8px;
  border-right: 1px solid #3b82f6;
  cursor: pointer;

  &:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  &:last-child {
    border-right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  &.actived {
    background-color: rgba(59, 130, 246, 0.2);
  }
}